@charset "UTF-8";

@import url('skeleton.css');
@import url('normalize.css');


h1, h2 {
    padding: 20px
}

form:last-of-type {
    padding-bottom: 200px;
}

.main {
    text-align: center;
    margin: 0 auto;
}

.id {
    width: 50px;
}


table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    padding: 10px 10px;
    border: 1px dotted grey;
}

tr:first-of-type, td:first-of-type {
    font-weight: bold;
}